.login{
    display: flex;
 
     .img-container{
         width:57%;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
         img{
             max-width: 660px;
             max-height: 650px; 
             margin-left: 70px;
         }
     }
 
     .login-container{
         display: flex;
         align-items: center;
         .login-box{
             background-color: #FFFFFF;
             border-radius: 10px;
             box-shadow: 0 2px 2px 0 rgba(0, 0, 20, 0.08), 0 2px 4px 0 rgba(0, 0, 20, 0.08);
             height: 300px; 
             width: 350px;
             padding: 30px 34px;
             margin-left: 30px;
 
             .login-info{
 
                 display: flex;
                 flex-direction: column;
                 gap: 10px;
                 .logo-box{
                     display: flex;
                     gap: 10px;
                     align-items: center;
                     img{
                         height: 30px;
                         width: 30px;
                     }
     
                     h1{
                         font-size: 15px;
                         font-style: italic;
                         sup{
                             font-size: 7px;
                         }
                     }
                 }
 
                 .info-box{
                     p{
                         font-size: 10px;
                         margin-top: 5px;
                         margin-bottom: 5px;
                         
                     }
                     input{
                         width: 98%;
                         height: 35px;
                         outline: none;
                         border: 1.5px solid blue;
 
                         &::placeholder{
                             font-size: 11px;
                             letter-spacing: 0.5px;
                             font-family: 'Poppins', sans-serif;
                         }
                     }
 
                     .p-info{
                         font-size: 10px;
                         margin-top: 10px;
                         color: rgb(138, 138, 138);
                     }
                 }
 
                 .button-box{
                     button{
                         width: 98%;
                         background-color: rgb(43, 114, 247);
                         color: white;
                         border: none;
                         border-radius: 20px;
                         height: 33px;
                         cursor: pointer;
                         margin-bottom: 10px;
                     }
                     span{
                        font-size: 11px;
                        color: rgb(138, 138, 138);
                        margin-left: 50px;
                    }
                    a{
                        text-decoration: none;
                    }
                    .create{
                        color: rgb(47, 83, 215);
                        margin: 0;
                        cursor: pointer;
                        width: max-content ;
                    }
                 }
 
                
 
             }
 
         }
     }
 
 }