.createContainer {
    display: flex;
    padding: 50px;
    gap: 5rem;

    .leftContainer {
        height: max-content;
        position: relative;
        bottom: 30px;

        .logoDiv {
            display: flex;
            font-size: 20px;
            font-weight: 600;
            font-style: italic;
            color: rgb(70, 80, 108);
            width: 10%;
            cursor: pointer;

            img {
                height: 35px;
                width: 35px;
                margin-right: 20px;
                cursor: pointer;
            }

        }
    }

    .inputdiv {
        display: flex;
        flex-direction: column;
        width: 50%;
        box-shadow: 0 2.5px 5.5px 0 rgba(0, 0, 0, .10);
        background-color: rgb(252, 252, 252);
        border-radius: 10px;
        gap: 1rem;
        height: 80vh;

        .dropdown {
            height: 5%;
            padding: 20px;

            select {
                height: 30px;
                width: 120px;
                border: 1px solid rgb(247, 247, 247);
                cursor: pointer;
                border-radius: 5px;
                box-shadow: 0 2.5px 5.5px 0 rgba(0, 0, 0, .10);

            }
        }

        .dataUpload {
            height: 5%;
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin-right: 12%;
            margin-left: 4%;

            .exceldiv {
                background-color: white;
                border-radius: 5px;
                letter-spacing: 0.5px;
                cursor: pointer;
                background-color: rgb(7, 163, 111);
                box-shadow: 2px 2.5px 5.5px 2px rgba(1, 1, 1, 0.1);

                &:hover {
                    transition: ease-out 1s;
                    background-color: green;
                }

                input {
                    display: none;
                }

                label {
                    font-size: 12px;
                    margin: 10px;
                    color: white;
                    cursor: pointer;
                }
            }


        }

        .dataShow {
            table {
                color: rgb(70, 70, 70);
                font-size: 13px;
                border-collapse: collapse;

                td,
                th {
                    border: 1px solid rgb(117, 117, 117);
                    border-collapse: inherit;
                    text-align: center;
                    max-height: 24px;
                    height: 24px;
                }
             

            }
        }

        .buttonDiv {
            display: flex;
            margin-left: 25px;
            margin-top: 30px;

            button {
                height: 40px;
                width: 130px;
                background-color: rgb(55, 121, 255);
                color: white;
                border: none;
                font-weight: bold;
                font-size: 13px;
                border-radius: 5px;
                box-shadow: 2px 2.5px 5.5px 2px rgba(1, 1, 1, 0.1);
                cursor: pointer;
                border-radius: 5px;

                &:hover {
                    background-color: rgb(18, 109, 255);
                    transition: ease-out 0.5s;
                }
            }
        }

    }

    .templateDiv {
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: white;
        box-shadow: 0 2.5px 5.5px 0 rgba(0, 0, 0, .10);
        border-radius: 10px;

        hr {
            width: 80%;
        }

        .certificateTemplate,
        .emailTemplate {
            margin: 20px;
            height: 40%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            border: 1px solid rgb(174, 174, 174);
            border-radius: 5px;
            color: rgb(102, 102, 102);
        }


    }

}