.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 71vw;

    .infoGrid {
        background: #FFFFFF;
        padding: 0 0px;
        border-radius: 12px;
        font-size: 13px;
        display: table;
        width: 100%;
        box-shadow: 0 2.5px 5.5px 0 rgba(0, 0, 0, .10);

        .infoContainer {
            margin: 10px;

            table {
                width: 100%;

                tbody {
                    display: table-row-group;
                    vertical-align: middle;
                    border-color: inherit;

                    tr {
                        display: table-row;
                        vertical-align: inherit;
                        border-color: inherit;

                        td {
                            width: 25%;

                            .tdDiv {
                                display: flex;
                            }

                            &:hover {
                                background-color: #f7f7f7;
                                cursor: pointer;
                            }

                            img {

                                max-height: 40px;
                                max-width: 40px;
                                margin-right: 20px;

                            }

                            p {
                                font-family: 'Inter', sans-serif;
                                font-weight: 400;
                                font-size: 12px;
                                color: #333;
                                margin: 5px;
                                line-height: 18px;
                            }
                        }
                    }

                }

            }
        }
    }
    .started{
        background-color: #FFFFFF;
        box-shadow: 0 2.5px 5.5px 0 rgba(0, 0, 0, .10);
        border-radius: 12px;
        font-size: 13px;
        display: table;
        padding: 20px;
        padding-right: 0px;
        table{
            width: 100%;
            padding: 10px;
            padding-right: 0px;
            tbody{
                td{
                    border-bottom: 10px solid transparent;
                    font-weight: 300;
                }
            }
        }
    }
}