.createEventContainer {
    display: flex;
    padding: 50px;
    gap: 5rem;

    .leftContainer {
        height: max-content;
        position: relative;
        bottom: 30px;

        .logoDiv {
            display: flex;
            font-size: 20px;
            font-weight: 600;
            font-style: italic;
            color: rgb(70, 80, 108);
            width: 10%;

            img {
                height: 35px;
                width: 35px;
                margin-right: 20px;

            }

        }
    }

    .inputDiv {


        width: 50%;
        height: 88vh;
        background-color: white;
        box-shadow: 0 2.5px 5.5px 0 rgba(0, 0, 0, .10);
        display: flex;
        flex-direction: column;
        border-radius: 10px;

        .inputWrapper {
            margin: 30px;
            margin-top: 2 0px;
            color: rgb(69, 69, 69);

            .inputHeading {
                display: flex;
                justify-content: space-between;
                color: rgb(132, 132, 132);
            }

            .inputContainer {

                margin-left: 50px;

                .designDiv {
                    height: 90px;
                    width: 120px;
                    border: 1px solid rgb(208, 208, 208);
                    border-radius: 5px;
                    margin-top: 20px;
                    background-color: rgb(245, 245, 245);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: rgb(120, 120, 120);
                    font-size: large;

                    #DesignFile {
                        display: none;
                    }

                }

                input {
                    width: 250px;
                    height: 30px;
                    outline: none;
                    border: 0.5px solid rgb(167, 167, 167);
                    border: none;

                    &::placeholder {
                        font-family: 'Poppins', sans-serif;
                        color: rgb(174, 174, 174);
                    }
                }

                textarea {
                    width: 350px;
                    height: 70px;
                    outline: none;
                    border: none;

                    &::placeholder {
                        font-family: 'Poppins', sans-serif;
                        color: rgb(174, 174, 174);

                    }

                    resize: none;
                }

            }

            button{
                background-color: rgb(58, 219, 69);
                border: none;
                padding: 7px;
                padding-left: 15px;
                padding-right: 15px;
                color: white;
                margin-top: 20px;
                margin-left: 48px;
                cursor: pointer;
                border-radius: 10px;
                &:hover{
                    background-color: green;
                    transition: ease-in-out 0.1s;
                    
                }

            }

        }



    }

    .emailAppearance {
        display: flex;
        height: 85vh;
        width: 30%;
        background-color: white;
        box-shadow: 0 2.5px 5.5px 0 rgba(0, 0, 0, .10);

        .emailWrapper {
            margin: 30px;
            margin-left: 120px;
            color: rgb(132, 132, 132);
        }
    }
}