.navbar{
    display: flex;
    justify-content: space-between;
    height: max-content;
    width: 71vw;
    margin-top: 3rem;
    .logoDiv{
        display: flex;
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        color: rgb(70, 80, 108);
        .logoImg{
            height: 35px;
            width: 35px;
            margin-right: 20px;
        }
    }

    .profileDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        .bell{
            width: 25px;
            height: 25px;
        }
        .profileImg{
            height: 30px;
            width: 30px;
            margin-left: 20px;
            border-radius: 50%;
            border: 1px solid black;
        }
    }

}