.sidebar {
    margin: 0;
    height: 100%;
    width: 20vw;
    margin: 20px;
    border: 1px solid rgb(244, 244, 244);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;


    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .dropdown{
           
            div{
                position: absolute;
                left: 150px;
                display: block;
                background-color: white;
                padding: 0;
                margin: 0;                
                box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 9px 0px;

                ul{
                    list-style: none;
                    margin-right: 20px;
                    font-size: 13px;

                    li{
                        color: rgb(66, 66, 66);
                        font-weight: 200;
                        cursor: pointer;
                        margin-top: 15px;
                    }
                }

            }
        }
        .headingDiv{
            width: 60%;
            margin-right: 40px;
            h3{
                font-weight: 500;
                margin: 0;
                margin-top: 20px;
            }
            p{
                font-size: 11px;
            }

        }
    }


    .sidebarItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

      
        .menuItemDiv {
            width: 70%;
            height: 40px;
            align-items: center;
            display: flex;
            padding:5px 10px ;
            display: flex;
            align-items: center;
        
        .icon{
            height: 15px;
            width: 15px;
        }
          a{
            font-size: 13px;
            color: rgb(116, 116, 116);
            text-decoration: none;
          }
            &:hover {
                cursor: pointer;
                border-radius: 5px;
                background-color: rgb(230, 230, 230);
            }

           
        }


    }

    

}