.create{
    width: 100vw;
    display: flex;
    justify-content: center;
    .container{
        margin: 80px;
        width: 1000px;
        display: inline-table;

        .first-section {
            display: flex;
            justify-content: space-between;

            .header-div {
                display: flex;
                gap: 20px;
                margin: 22px;

                .intro-div {
                    span{
                        font-weight:bolder;
                        font-size: 20px;
                        &:first-child{
                            font-weight: 500;
                            font-size: 16px;
                        }
                    }
                }

            }
            .buttons-div{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
                button{
                    background-color: white;
                    border-radius: 18px;
                    border: none;
                    box-shadow: 0 2.5px 5.5px 0 rgba(0, 0, 0, .10);
                    padding: 13px;
                    padding-left: 22px;
                    padding-right: 22px;
                    margin-right:20px ;
                    font-size: 12px;
                    color: rgb(94, 94, 94);
                    cursor: pointer;
                }
            }
        
        }

        .second-section {
            display: flex;

            .organization-container {
                width: 100%;
                margin: 20px;

                .input-container{
                    label{
                        font-size: 11px;
                        color: gray;

                    }
                    input{
                        height: 28px;
                        width: 350px;
                        margin-top: 10px;
                        outline: none;
                        border: none;
                        box-shadow: 0 2.5px 5.5px 0 rgba(0, 0, 0, .10);

                    }
                }
                
                .button{
                    color:white;
                    background-color: rgb(22, 198, 72);
                    border: none;
                    border-radius: 10px;
                    padding: 12px;
                    margin-top: 20px;
                    cursor: pointer;
                    &:hover{
                        background-color: green;
                        transition: ease-in-out 0.2s;

                    }
                }

            }

            .basic-footer{
                font-size: 11px;
                margin-top: 50px;
                color: gray;
            }
        }

    }
}