.dashboardEventsMain {
    display: flex;

    .dashboardEvents {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 71vw;

        .dashboardEventsGrid {
            background: #FFFFFF;
            padding: 0 0px;
            border-radius: 12px;
            font-size: 13px;
            display: table;
            width: 100%;
            box-shadow: 0 2.5px 5.5px 0 rgba(0, 0, 0, .10);
            height: 300px;

            .dashboardEventsContainer {
                margin: 50px;
                display: flex;
                gap: 20px;

                .eventsDiv {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(225, 225, 225);
                    height: 170px;
                    width: 170px;
                    border-radius: 10px;
                    cursor: pointer;
                    font-size: 16px;
                    color: rgb(87, 87, 87);
                    box-shadow: 0 2.5px 5.5px 0 rgba(0, 0, 0, .10);

                    h5{
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                    hr{
                        color: black;
                        width: 100%;
                    }
                }

            }
        }
    }
}