body,html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?w=2000");
    // background-image: url("https://distributed.s3.amazonaws.com/static/assets/bggrid.png");
    background-repeat: repeat;
}